@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* header design starts here */
.header-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
}

/* banner starts here */
.banner-section {
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 652px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-text p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
}

.banner-button button {
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.empty-space {
    margin-top: 70px;
}

/* Default ---  */
.center-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.center-text h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.center-text p {
    margin-top: 10px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

/* Default ---  */
.why-web-development-controller {
    padding-top: 25px;
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.white-card-button button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}

.white-card-button {
    padding: 12px 20px;
}

.white-card-controller {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.white-card-content {
    padding: 35px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.white-card-text p {
    margin: 15px 0px;
}

.video-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* my current target */
.current-target-controller {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 48px;
}

.current-target-card {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.current-target-content {
    padding: 15px;
}

.current-target-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.current-target-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0px;
}

.current-target-content a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* need-support-section */
.need-support-section {
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
}
.need-support-section{
    border-radius: 16px;
background-color: rgba(0, 0, 0, 0.6);
background-blend-mode: overlay;
}
.need-content{
    padding: 60px 0px;
}
.need-content h2 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.need-content p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 40px 10px;
}
.support-foot{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.support-foot input{
    padding: 15px 10px;
    width: 30%;
    border-radius: 10px;
}
.need-content button{
    padding: 15px 25px;
    border-radius: 10px;
}